.spacer {
	margin-top: 20px;
}

body {
	background-color: rgb(242, 242, 242);
}

.card {
	background-color: #fff;
	border-radius: 15px;
	height: 100%;
}

.row {
	margin-left: -10px;
	margin-right: -10px;
}

[class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}

.img-wrapper {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 20%;
}

.linked-in-badge, .free-code-camp {
	width: 20px;
	height: 20px;
	object-fit: contain;
	margin-right: 5px;
}

.logo-icon {
	width: 50px;
	height: 50px;
	object-fit: contain;
	margin-right: 10px;
}